In [3]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
#In this code, we want to analyze students' grades based on the instructions given.
#First, we should read an Excel file that contains students' grades.
#Then, calculating the average.
#Next, determine the letter grades based on the final grade.
#Then, adding the letter grade as a column.
# Finally, saving the new sheet.

import pandas as pd

# Reading the Excel file
df = pd.read_excel("Grades_Short.xlsx")

# Calculating the average
df["Final_Grade"] = df[["Assignment_1", "Assignment_2", "Quiz_1", "Quiz_2", "Mid_Term_Exam", "Final_Exam"]].mean(axis=1)

# Letter grade based on the final grades.
def get_letter_grade(score):
    if score > 90:
        return "A+"
    elif 90>= score > 80:
        return "A"
    elif 80>= score > 70:
        return "B"
    elif 70>= score > 60:
        return "C"
    elif 60>= score > 55:
        return "D"
    else:
        return "F"

# Adding a new column for letter grades
df["Letter_Grade"] = df["Final_Grade"].apply(get_letter_grade)

# New CSV file
df.to_csv("Grades_Modified.csv", index=False)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df

,ID,Name,Assignment_1,Assignment_2,Quiz_1,Quiz_2,Mid_Term_Exam,Final_Exam,Final_Grade,Letter_Grade
0,90743,Jake,85,90,97.5,100.0,96.5,97.5,94.416667,A+
1,7284,Joe,69,74,100.0,80.0,85.5,87.5,82.666667,A
2,7625,Susan,75,80,95.0,95.0,90.0,91.0,87.666667,A
3,1237,Sol,75,88,85.5,78.5,80.0,86.0,82.166667,A
4,62,Chris,84,86,95.0,85.0,90.0,91.5,88.583333,A
5,87452,Tarik,55,68,85.0,86.0,78.0,81.5,75.583333,B
6,9374,Malik,90,95,100.0,100.0,91.5,93.0,94.916667,A+
7,74586,John,65,75,75.0,68.0,50.0,58.5,65.250000,C
8,65877,Todd,50,55,56.0,49.0,52.0,53.0,52.500000,F
9,4258,Rebecca,78,82,71.0,84.0,79.0,80.5,79.083333,B